.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #4f46e5;
  color: #ffffff;
  padding: 10px;
}

.navbar .logo {
  font-size: 22px;
  font-weight: bold;
}

.navbar .nav a:hover {
  text-decoration: underline;
}

.navbar .nav a {
  margin: 0 12px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding: 6px 16px;
  border-radius: 20px;
  transition: 0.3s;
}

.navbar .nav a.active {
  border: 2px solid white;
  border-radius: 20px;
  padding: 4px 12px;
}


