.profile-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: white;
}

/* Profile Header Section */
.profile-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 30px;
}

.profile-avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  background: black; /* fallback kalau img error */
}

.profile-info {
  flex: 1;
}

.profile-info h2 {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
}

.location {
  font-size: 14px;
  margin: 4px 0;
}

.price {
  font-size: 14px;
  font-weight: 600;
  margin: 4px 0 10px 0;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-bottom: 16px;
}

.tags span {
  background: #f3f4f6;
  padding: 4px 10px;
  border-radius: 16px;
  font-size: 12px;
  color: #374151;
}

.profile-actions {
  display: flex;
  gap: 10px;
}

.edit-profile-btn{
    margin-left : 10px;
    background: #4f46e5;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.2s ease;
}

.add-photo-btn {
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 8px 18px;
  cursor: pointer;
  transition: background 0.2s ease;
  margin : 20px 20px 20px 20px;
  width : 50%;
  align-self: center;
}

.edit-profile-btn:hover,
.add-photo-btn:hover {
  background: #4338ca;
}

.photo-grid {
  display: flex;
  flex-wrap: wrap;       /* biar otomatis turun ke bawah */
  gap: 16px;             /* jarak antar foto */
  max-width: 900px;      /* batasi lebar */
  margin: 0 auto;        /* center container */
  justify-content: center; /* biar item selalu rata tengah */
  padding: 10px;
}

.photo-card {
  background: #e5e7eb;
  border-radius: 10px;
  overflow: hidden;
  width: 160px;   /* lebar fix tiap foto */
  height: 160px;  /* tinggi fix biar kotak */
  display: flex;
  align-items: center;
  justify-content: center;
}


.photo-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tag-and-button-wrapper {
    display : flex;
    flex-direction: row;
}